* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(255 255 255 / 90%);
  font-family: ui-monospace, monospace;
  font-size: 12px;
}

body {
  overflow: hidden;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: rgb(43, 43, 45);
}

.app > div,
.app > nav {
  height: 100%;
}

.app .logo {
  height: 100%;
  aspect-ratio: 1;
}

.nav {
  position: relative;
  border-radius: 4px;
  background: rgb(80, 80, 80);
}

.nav #nav {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.nav #selector {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2px;
  left: -2.5px;
  border-radius: 5px;
  background: #22a791;
  transition:
    width 0.3s ease,
    height 0.3s ease,
    transform 0.3s ease;
}

.nav button {
  height: 10px;
  min-width: 10px;
  border: none;
  position: relative;
  background: none;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.nav button.active {
  transform: scale(1.3);
}

.nav button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.data {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.data #paused {
  height: 100%;
  padding: 0px 15px;
  font-size: 14px;
  border: 1px solid #ff6315;
  border-radius: 5px;
  color: #ff6315;
  background: none;
  transition: 0.3s;
  cursor: pointer;
  transform: scale(0);
}

.data #paused.active {
  transform: scale(1);
}
